body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.div-img{
    margin: 0 auto;
    max-width: 593px;
    margin-bottom: 72px;

}

.div-txts{
    margin: 0 auto;
    width: 593px;
    margin-bottom: 77px;
    
}

.txt-1{

    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    margin-bottom: 32px;
    font-weight: bold;
}
.txt-1 span{
    color: #0075ff;
 
}

.txt-2{
    color: #7d7983;
    font-size: 14px;
    line-height: 28px;
}
.txt-2 span{
    color: #0075ff;
    

}


.div-links {
    margin: 0;
    margin-bottom: 33px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.div-links a{
    
    color: rgb(19, 152, 241);
}
.line{
    width: 592px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #eceff2;
}