body{
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-img{
    margin: 0 auto;
    max-width: 100%;

}

.div-txts{
    margin: 0 auto;
    margin-top: 50px;
    width: auto;
    max-width:600px;
}

.txt-1{

    font-size: 3.5rem;
}
.txt-1 span{
    color: rgb(19, 152, 241);
    font-weight: bold;
}

.txt-2{
    color: grey;
    font-size: 1rem;
}
.txt-2 span{
    color: rgb(19, 152, 241)
    

}


.div-links {
    margin-top: 70px;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.div-links a{
    
    color: rgb(19, 152, 241);
}