body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding: 20px;
    gap: 20px;
    text-align: center;
}
.div-img{
    margin: 0 auto;

}

.div-txts{
    margin: 0 auto;
    margin-top: 70px;
    width: 593px;
}

.txt-1{

    font-size: 2rem;
}
.txt-1 span{
    color: rgb(19, 152, 241);
    font-weight: bold;
}

.txt-2{
    color: grey;
    font-size: 0.75rem;
}
.txt-2 span{
    color: rgb(19, 152, 241)
    

}


.div-links {
    margin-top: 100px;
    font-size: 1rem;
}